html, body { height: 100%; -webkit-text-size-adjust: none; }

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current {
	visibility: visible;
	z-index: 1;
}
.pt-page-ontop {
	z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

/*
.pt-page h1 strong {
	color: rgba(0,0,0,0.1);
}

.pt-page-1 {
	background: #0ac2d2;
}

.pt-page-2 {
	background: #7bb7fa;
}

.pt-page-3 {
	background: #60d7a9;
}

.pt-page-4 {
	background: #fdc162;
}

.pt-page-5 {
	background: #fd6a62;
}

.pt-page-6 {
	background: #f68dbb;
}
*/

.input-text-rounded {
	border-radius: .5em;
	border-width: 0px;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	font-size: 36px;
}
.input-text-rounded:focus {
	outline-width: 0;
}
.button {
	border-width: 0px;
	height: 20px;
	width: auto;
	padding-top: .6em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em;
	display: inline-block;
}
.validate-required {
	background-color: #60d7a9;
	font-size: 42px;
	color: #787A76;/*#ACAEA9;*/
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.validate-required.valid {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.validate-required.valid:hover,.validate-required.valid:focus {
	background-color: #60FFA9;
	outline-width: 0;
	transform: scale(1.2);
}
.log-msg-info {

}
.log-msg-error {
	color: #FF0000;
}