.context-menu {
	position: fixed;
	background-color: #F2F2F2;
	border: solid 1px #AAAAAA;
	border-radius: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	min-width: 168px;/* subtract 2px for the border */
	box-shadow: 0px 0px 15px 0px #BBBBBB;
	font-family: Arial;
	font-size: 14px;
}
.context-menu:focus {
	outline: none;
}
.context-menu>.context-menu-option {
	padding:1px;
	padding-top:2px;
	padding-left: 20px;
	padding-right: 10px;
	margin:0px;
}
.context-menu>.context-menu-option:not(.context-menu-disabled):hover {
	background-color: #3344FF;
}
.context-menu>.context-menu-disabled {
	opacity: .4;
}
.context-menu>.context-menu-separator {
	height: 0px;
	border: solid 1px #DDDDDD;
	margin-top: 5px;
	margin-bottom: 5px;
}