body {
	background-color: white;
	position: relative;
	margin: 0px;
}
.fullscreen {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#projector {
	background-color: gray;
}
.hidden {
	display: none;
}
.fullscreen.keep-aspect-ratio {
	width: 100%;
	height: 100%;
}